*.so
*.o
*.dll
*.Rproj
.xapian/*
/src/Makevars
/config.log
/config.status
autom4te.cache*
/src-i386/
/src-x64/
/src/winhttp/libwinhttp-x64.a
/src/winhttp/libwinhttp.a
/src/libssh2/
libssh2
libssh2.zip
/src/openssl/
openssl
openssl.zip
/src/zlib/
local320.zip
