export(add)
export(branches)
export(commit)
export(commits)
export(contribution_by_user)
export(contribution_wc)
export(contributions)
export(default_signature)
export(init)
export(is.bare)
export(is.empty)
export(is.head)
export(is.local)
export(markdown_link)
export(references)
export(remote_url)
export(remotes)
export(repository)
export(tags)
export(workdir)
exportClasses(git_branch)
exportClasses(git_commit)
exportClasses(git_reference)
exportClasses(git_repository)
exportClasses(git_signature)
exportClasses(git_tag)
exportClasses(git_time)
exportMethods(head)
exportMethods(show)
exportMethods(summary)
import(dplyr)
import(ggplot2)
import(methods)
import(wordcloud)
importFrom(RColorBrewer,brewer.pal)
importFrom(plyr,ddply)
importFrom(reshape2,melt)
importFrom(scales,date_format)
useDynLib(git2r)
