exportClasses(git_branch)
exportClasses(git_commit)
exportClasses(git_reference)
exportClasses(git_repository)
exportClasses(git_signature)
exportClasses(git_tag)
exportClasses(git_time)
export(init)
exportMethods(add)
exportMethods(branches)
exportMethods(commits)
exportMethods(default_signature)
exportMethods(head)
exportMethods(is.bare)
exportMethods(is.empty)
exportMethods(is.head)
exportMethods(is.local)
exportMethods(references)
exportMethods(remotes)
exportMethods(remote_url)
exportMethods(show)
exportMethods(summary)
exportMethods(tags)
exportMethods(workdir)
export(repository)
import(methods)
useDynLib(git2r)
