exportClasses(git_branch)
exportClasses(git_reference)
exportClasses(git_signature)
exportClasses(git_tag)
exportClasses(repository)
exportMethods(branches)
exportMethods(head)
exportMethods(is.bare)
exportMethods(is.empty)
exportMethods(is.head)
exportMethods(is.local)
exportMethods(references)
exportMethods(remotes)
exportMethods(remote_url)
exportMethods(tags)
exportMethods(workdir)
export(repository)
import(methods)
useDynLib(git2r)
